[submodule "Hardware/OpenMower3d"]
	path = Hardware/OpenMower3d
	url = https://github.com/ClemensElflein/OpenMower3d.git
[submodule "ROS/src/open_mower_ros"]
	path = ROS/src/open_mower_ros
	url = https://github.com/ClemensElflein/open_mower_ros.git
[submodule "ROS/src/teb_local_planner"]
	path = ROS/src/teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
[submodule "ROS/src/ftc_local_planner"]
	path = ROS/src/ftc_local_planner
	url = https://github.com/ClemensElflein/ftc_local_planner.git
[submodule "ROS/src/slic3r_coverage_planner"]
	path = ROS/src/slic3r_coverage_planner
	url = https://github.com/ClemensElflein/slic3r_coverage_planner.git
[submodule "ROS/src/xesc_ros"]
	path = ROS/src/xesc_ros
	url = https://github.com/ClemensElflein/xesc_ros.git
