[submodule "software/open_mower_ros"]
	path = software/open_mower_ros
	url = https://github.com/ClemensElflein/open_mower_ros
[submodule "software/OpenMowerOS"]
	path = software/OpenMowerOS
	url = https://github.com/ClemensElflein/OpenMowerOS
[submodule "software/openmower-app"]
	path = software/openmower-app
	url = https://github.com/xtech/openmower-app
[submodule "firmware/fw-openmower-v2"]
	path = firmware/fw-openmower-v2
	url = https://github.com/xtech/fw-openmower-v2
[submodule "firmware/xesc_firmware"]
	path = firmware/xesc_firmware
	url = https://github.com/ClemensElflein/xesc_firmware
[submodule "hardware/hw-openmower-yardforce"]
	path = hardware/hw-openmower-yardforce
	url = https://github.com/xtech/hw-openmower-yardforce
[submodule "hardware/hw-openmower-sabo"]
	path = hardware/hw-openmower-sabo
	url = https://github.com/xtech/hw-openmower-sabo
[submodule "os/buildroot"]
	path = os/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "hardware/universal-hardware/hw-module-xesc"]
	path = hardware/universal-hardware/hw-module-xesc
	url = https://github.com/xtech/hw-module-xesc
[submodule "hardware/universal-hardware/hw-module-charger"]
	path = hardware/universal-hardware/hw-module-charger
	url = https://github.com/xtech/hw-module-charger
[submodule "hardware/universal-hardware/hw-module-logic"]
	path = hardware/universal-hardware/hw-module-logic
	url = https://github.com/xtech/hw-module-logic
[submodule "hardware/universal-hardware/hw-module-gps"]
	path = hardware/universal-hardware/hw-module-gps
	url = https://github.com/xtech/hw-module-gps
