# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*.kicad_pro-bak
*~
_autosave-*
*.tmp
*.lck
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

replicate_layout.log

MyModules3d/

release
release_navigator
jlcpcb
Gerber
OpenMowerMainboard-drc.txt
OpenMowerMainboard-erc.txt
kibot_errors.filter

.kidiff
