# Available at GrabCAD: https://grabcad.com/library/mpu-9250-1
MPU-9250.stp

# Available at GrabCAD: https://grabcad.com/library/raspberry-pi-4-model-b-1
Raspberry Pi 4 Model B.STEP

# Available at GrabCAD: https://grabcad.com/library/raspberry-pi-pico-r3-1
Raspberry Pi Pico-R3.STEP

# Available at GrabCAD: https://grabcad.com/library/dfplayer-mini-3
DFPlayer Mini Assem v1.step

# Available at GrabCAD: https://grabcad.com/library/fuse-5x20-with-clips-1
Fuse Holder.STEP

# Available at GrabCAD: https://grabcad.com/library/ic-packages-tssop-1
TSSOP-48.stp

# Available at Molex
# https://www.molex.com/molex/products/part-detail/pcb_headers/0039281023
# https://www.molex.com/molex/products/part-detail/pcb_headers/0039281083
# https://www.molex.com/molex/products/part-detail/pcb_headers/0039281223
039281023.stp
039281083.stp
039281223.stp


# Available at GrabCAD: https://grabcad.com/library/inductor-wurth-elektronik-74437324100-1
WE_Inductor_4020.STEP
